################
# exclude tmp folder
tmp
tmp/
tmp2/
tmp3/
tmp4/

###############
# exclude build folder
build
build/

#################
# exclude output folder
o
o/

##############
# exclude sqlite dbs
*.db


#####################
# exclude git/gitti logs
errors.log

####
#  note:
#   exclude gemfile.lock for now (is different for now on every os/platform)

Gemfile.lock
