################
# exclude tmp folder
tmp
tmp/
tmp2/
tmp3/
tmp4/

###############
# exclude build folder
build
build/

#################
# exclude output folder
o
o/

##############
# exclude sqlite dbs
*.db


#####################
# exclude logs
errors.log
logs.txt
